/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/07/2015, 20:19:40
    Author     : Eduardo
*/
#Tabela{
    position: absolute;
    left: 30%;
}
